.timeline {
  background-color: #FFCA41;
  position: relative;
}

.timeline__line {
  z-index: 1;
  position: absolute;
  right: 64px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #111;

  @media (max-width: 991px) {
    display: none;
  }

  &:not([data-active="0"]) {
    position: fixed;

    .timeline__step--create {
      transition: all .5s ease;
    }

    .timeline__step--party {
      transition: all .5s ease;
      top: 85dvh;
    }

    .timeline__step--play {
      transition: all .5s ease;
      top: 93dvh;
    }
  }

  &[data-active="2"],
  &[data-active="3"] {
    .timeline__step--party {
      transition: all .5s ease;
      top: 96px;
    }
  }

  &[data-active="1"] {
    .timeline__step--create {
      .timeline__text {
        opacity: 1;
        background-color: #000;
        color: #FFCA41;
        padding: 8px 16px;
        + .timeline__circle {
          top: 8px;
        }
      }
    }
  }

  &[data-active="2"] {
    .timeline__step--party {
      .timeline__text {
        opacity: 1;
        background-color: #000;
        color: #FFCA41;
        padding: 8px 16px;
        + .timeline__circle {
          top: 8px;
        }
      }
    }
  }


  &[data-active="3"] {
    .timeline__step--play {
      transition: all .5s ease;
      top: 160px;

      .timeline__text {
        opacity: 1;
        background-color: #000;
        color: #FFCA41;
        padding: 8px 16px;
        + .timeline__circle {
          top: 8px;
        }
      }
    }
  }

  .timeline__step {
    cursor: pointer;
    position: absolute;
    font-weight: bold;
    font-family: Poppins;
    transform: translateX(calc(-100% - 28px));
    font-size: 24px;
    line-height: 1;
    white-space: nowrap;
    transition: all .5s ease;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;

    &--create {
      top: 32px;
    }

    &--party {
      top: 96px;
    }

    &--play {
      top: 160px;
    }

    &:hover,
    &:focus {
      .timeline__text {
        opacity: 1;
      }
    }

    .timeline__circle {
      position: absolute;
      left: calc(100% + 16px);
      top: 0;
      content: '';
      background-color: #111;
      width: 24px;
      height: 24px;
      border-radius: 100%;
    }
  }
}

.timeline__step .timeline__text {
  opacity: .5;
  transition: all .3s ease;
  display: inline-block;
}

.timeline__section {
  height: 100dvh;
  padding: 64px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;

  @media (max-width: 767px) {
    height: 70dvh;
    padding: 32px 0;
  }
}

.timeline__section-top {
  position: absolute;
  top: 0;
  left: 0;
}

.timeline__step-number {
  background-color: #111;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFCA41;

  @media (max-width:767px) {
    width: 48px;
    height: 48px;
  }
}

.timeline__headline {
  font-size: 48px;
  padding-bottom: 16px;

  @media (max-width:767px) {
    font-size: 32px
  }
}

.timeline__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width:991px) {
    align-items: center;
    text-align: center;
  }
}

.timeline__description {
  max-width: 800px;
  font-size: 18px;
  padding-bottom: 16px;
}

.timeline__content-img {
  max-height: 480px;
  max-width: 800px;
  object-fit: contain;
  width:100%;
  border-radius: 100px;
}